.labs-card {
    border: 2px solid black;
    height: inherit;
    width: 600px;
}

.src-img {
    height: 250px;
    width: 600px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom: 2px solid black;
}

.labs-desc {
    height: max-content;
    height: inherit;
}

@media (max-width: 768px) {
    .labs-card {
        width: 350px;
    }

    .src-img {
        height: 170px;
        width: 350px;
    }
}